.credentialsForm {
    padding: 3rem 1rem;
    text-align: center;
}

.credentialsTitle {
    padding-bottom: 2rem;
    font-size: 2.4em;
    font-weight: 700;
}

.credentialsList {
    padding-bottom: 3rem;
    list-style-type: none;
    text-align: left;
}

/* Viewport width - 480+px */

@media ( min-width: 30em ) {

    .credentialsForm {
        padding: 3rem 2rem;
    }
}

/* Viewport width - 768+px */

@media ( min-width: 48em ) {

    .credentialsForm {
        padding: 5rem 4rem;
        background-color: #fff;
    }

    .credentialsTitle {
        padding-bottom: 3rem;
        font-size: 2.8em;
    }

    .credentialsList {
        padding-bottom: 4rem;
    }
}
